@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-sans: var(--font-geist-medium);
  --font-mono: var(--font-geist-mono-regular);
  --animate-blob: blob 7s infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-geist-medium), sans-serif;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html {
  scroll-behavior: smooth;
}

.geist-light {
  font-family: var(--font-geist-light), sans-serif;
}

.geist-regular {
  font-family: var(--font-geist-regular), sans-serif;
}

.geist-medium {
  font-family: var(--font-geist-medium), sans-serif;
}

.geist-semibold {
  font-family: var(--font-geist-semibold), sans-serif;
}

.geist-bold {
  font-family: var(--font-geist-bold), sans-serif;
}

.geist-mono-light {
  font-family: var(--font-geist-mono-light), monospace;
}

.geist-mono-regular {
  font-family: var(--font-geist-mono-regular), monospace;
}

.geist-mono-medium {
  font-family: var(--font-geist-mono-medium), monospace;
}

.geist-mono-semibold {
  font-family: var(--font-geist-mono-semibold), monospace;
}

.geist-mono-bold {
  font-family: var(--font-geist-mono-bold), monospace;
}